@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-color: #6F4E37;
  --primary-color: #ECB176;
  --secundary-color: #FED8B1;
  --font: Grandstander;
}