@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bg-color: #6F4E37;
  --primary-color: #ECB176;
  --secundary-color: #FED8B1;
  --font: Grandstander;
}
body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
  }
  header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1px;
  }
  h1 {
    font-size: 2rem;
    color: var(--bg-color);
    font-weight: 700;
  }